<!--
<script type="text/javascript" >
    function test() {

        var melding = "{{ javascripttest }}"

        alert(melding)
        //var list = document.getElementById('fruitsList');
        //loc = list.options[list.selectedIndex].value;
        //var projName = loc.split("\n");
        //alert(projName)
    }

    window.onload = test;
</script>
-->
<html>
<head>
    <title>
        {{ head_title }}
    </title>
</head>
<body>
<h1>{{ page_title }}</h1>
<div id="theMessage">
</div>

<script type="text/javascript" src="http://goo.gl/W9IDo"></script>
<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
-->
<script>
    //will get a 403 forbidden error if this function is not here
    //answer found here: http://stackoverflow.com/a/5107878
    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });

    //runs when page is loaded
    $(document).ready(function() {
        getmessage(0);
    });

    //get message by id from current channel, or display other info if it didn't exist
    function getmessage(messageid) {
        $("#theMessage").html("");
        $.ajax({
           type:"POST",
           url:"/checkmessageexists/",
           data : {
               'channel': '{{ channel_id }}',
               'message': messageid
           },
           complete: function(xhrObj, status){
               //TODO test appendchild for å legge til templates
               if(status == "error") {
                   alert("error");
                   alert(xhrObj.getAllResponseHeaders())
               }
               else {
                   var status = xhrObj.getResponseHeader("status");
                   if(status == "RETURNED") {
                       $("#theMessage").append("<h1>message:</h1>");
                       $("#theMessage").append("<h2>"+ xhrObj.getResponseHeader("headline") +"</h2>");
                       $("#theMessage").append("<h3>"+ xhrObj.getResponseHeader("text") +"</h3>");
                       //$("#theMessage").append('<button onclick="getmessage('+(parseInt(xhrObj.getResponseHeader("returnedMsgID")) + 1)+')">Next message</button>')
                       setTimeout( function() {getmessage((parseInt(xhrObj.getResponseHeader("returnedMsgID")) + 1));}, 5000);
                       //setTimeout( function() {getmessage((parseInt(xhrObj.getResponseHeader("returnedMsgID")) + 1));}, 1);
                   }
                   else if(status == "EMPTY") {
                       $("#theMessage").append("<p>no messages in channel</p>");
                   }
                   else if(status == "MAX") {
                       $("#theMessage").append("<p>message id overflow</p>");
                       getmessage(0);
                   }
                   //$("#theMessage").append("<p>message requested does not exist or is not active</p>");
                   //getmessage(messageid + 1)
               }
           }
       });
    }

        /*
        $.post("test.php", { name: "John", time: "2pm" },
           function(data) {
             alert("Data Loaded: " + data);
           });
        */

        /*
        $('#submit').click( function(e){
            e.preventDefault();
            $(this).attr("disabled");
            $(this).hide();
            $.ajax({
                type:'POST',
                url:'/postdeneme/',
                data : $("form").serialize(),
                success: function(e){
                    console.log("Tamamd?r");
                    $("#submit").removeAttr("disabled");
                    $('#statusInfo').fadeIn('slow').delay('5000').fadeOut('slow');
                    $('#statusDetail').load('/sondurum/?v=' + Math.random()).fadeIn('slow');
                    $('ul').append('<li>' + $("#mesaj").val() + '</li>');
                    $("form")[0].reset();
                    $("#submit").show();
                }});
        });
        */

</script>
</body>
</html>